<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home Page</title>
<style id="applicationStylesheet" type="text/css">

</style>
</head>
<body>
<div id="Home_Page">
	<div id="Component_1__1" class="Component_1___1">
		<div id="Your_new_way_to_find_new_music">
			<h1>Welcome to your new way to find new music</h1>
		</div>
	</div>
	<div id="Group_2">
		<div id="Powered_by_the_Spotify_API">
			<span>Powered by the Spotify API</span>
		</div>
		<div id="Created_by_Dylan_Andrade_Paez">
			<span>Created by Dylan Andrade Paez</span>
		</div>
	</div>
	<div id="Component_2__1" class="Component_2___1">
		<div id="Login_with_Spotify">
			<a href="/login">Login with Spotify</span>
		</div>
	</div>
</div>
</body>
</html>