<head>
    <style>
        .header {
            width: auto;
            height: 60px;
            background-color: darkgray;
            text-align:center;
            vertical-align:middle;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>

<body>
    <div class="header">
        <h1>Your Playlists</h1>
    </div>
    <div class="playlist-grid">
        {% for item in data %}
            <div class="grid_item">
                <h2>{{item.playlist_name}}</h2>
                <img src={{ item.playlist_img }} alt="Playlist Image" width="100" height="100"></img>
            </div>
        {% endfor %}
    </div>
</body>