<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href={{url_for('static', filename='styles/styles.css')}}>
</head>

<body>
    <header>
        <div class="header">
          <h1>Recommendations</h1>
        </div>
      </header>
    <aside>
        <div class="side-bar">
          <h2><a href='home'><button class="btn">Home</button></a></h2>
          <h2><a href='/user-recommendations'><button class="btn">Find New Music</button></a></h2>
        </div>
      </aside>
    <div class="container">
        <div class="form">
            <form action=""{{ url_for("userRecommendations")}}"" method="post">
                <label for="AName"> Name: </label>
                <input type='text' id="Aname" name="name" placeholder="Name of Artist/Track">
                <button type="submit">Submit</button>
            </form>
        </div>
        <div id ='items' class="track-grid" onclick="">
            <h2>Search results</h2>
            <script src={{ url_for('static', filename='scripts.js') }} onload="userRecommendations()"></script>
        </div>
    </div>
    
</body>
