.header {
    width: auto;
    height: 50px;
    background-color: darkgray;
    text-align:left;
    align-items: baseline;
    padding: 20px;
    margin: 5px;
    border-radius: 7px;
    font-size: larger;
}

.side-bar{
    width: 150px;
    height:100vh;
    background-color: rgb(189, 189, 189);
    text-align: center;
    padding: 15px;
    border-radius: 7px;
}

.content-title {
    font-size: 30px;
}

aside{
    float: left;
    padding: 15px;
}
body{
  background-color: rgb(215, 215, 215);
}

.rect-box {
    float:left;
    width:max-content;
    height: max-content;
    padding:15px;
    background-color: rgb(189, 189, 189);
    display: grid;
    grid-gap: 15px;
    grid-template-columns: auto auto auto auto
}
.playlist-box{
  float:left;
  width:max-content;
  height: max-content;
  padding:15px;
  background-color: rgb(189, 189, 189);
}
.overview{
  height: max-content;
  background-color: #929292;
  border-radius: 7px;
  padding:15px;
  float:right;
}
    
.grid_item {
    width: 300px;
    height: max-content;
    background-color: #929292;
    border-radius: 7px;
    padding:15px;
    text-align:center;
    vertical-align:middle;
    justify-content:center;
    align-items: center;
}
.container{
  display: flex;
  flex-direction: column;
}

.btnL{
  float: right;
  width: max-content;
  height: max-content;
  background-color: gray;
  align-items: baseline;
  padding: 10px;
  margin-right: 20px;
  border-radius: 7px;
  cursor: pointer;
  font-family: 'Nexa-Heavy',sans-serif;
}
.image{
  float:left;
}
.btn{
  width: 140px;
  height: auto;
  background-color: #929292;
  padding: 5px;
  border-radius: 7px;
  font-size: 20px;
  cursor: pointer;
  font-family: 'Nexa-Heavy',sans-serif;
}
@font-face {
  font-family: 'Nexa-Heavy'; /* Name your font family */
  src: url('nexa/Nexa-Heavy.ttf'); /* Locate the .ttf file within your directory*/
}
@font-face {
  font-family: 'Nexa-ExtraLight';
  src: url('nexa/Nexa-ExtraLight.ttf');
}
h1,h2{
  font-family: 'Nexa-Heavy', sans-serif;
}
h3,h4,p{
  font-family: 'Nexa-ExtraLight',  sans-serif;
}